<!-- Recent Posts -->
<div class="widget kd-posts-list">
  <h2 class="widget-title">Latest Posts</h2>
  <div class="widget-inner">
    <div class="item clearfix">
      <div class="image" style="background-image: url(images/widgets/instagram/1.jpg); ">
        <img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
      </div>
      <div class="widget-item-content">
        <h2>
          <a href="single.html">The basis of friendship is sharing</a>
        </h2>
        <div class="post-details">
          <a href="#" class="post-date">May 29, 2017</a>
        </div>
      </div>
    </div>

    <div class="item clearfix">
      <div class="image" style="background-image: url(images/widgets/instagram/2.jpg); ">
        <img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
      </div>
      <div class="widget-item-content">
        <h2>
          <a href="single.html">The basis of friendship is sharing</a>
        </h2>
        <div class="post-details">
          <a href="#" class="post-date">May 29, 2017</a>
        </div>
      </div>
    </div>

    <div class="item clearfix">
      <div class="image" style="background-image: url(images/widgets/instagram/3.jpg); ">
        <img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
      </div>
      <div class="widget-item-content">
        <h2>
          <a href="single.html">The basis of friendship is sharing</a>
        </h2>
        <div class="post-details">
          <a href="#" class="post-date">May 29, 2017</a>
        </div>
      </div>
    </div>

    <div class="item clearfix">
      <div class="image" style="background-image: url(images/widgets/instagram/4.jpg); ">
        <img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
      </div>
      <div class="widget-item-content">
        <h2>
          <a href="single.html">The basis of friendship is sharing</a>
        </h2>
        <div class="post-details">
          <a href="#" class="post-date">May 29, 2017</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Recent Posts -->