<!-- Mailchimp -->

<div class="widget kd-mailchimp">
  <h2 class="widget-title">Newsletter</h2>
  <div class="widget-inner text-center">
    <p>
      Sign up to receive mental health updates.
    </p>
    <form class="kd-subscribe">
      <div class="form-item form-remove">
        <input type="email" class="kd-subscribe-email" placeholder="Your email ..." value="" required />
      </div>
      <div class="form-submit">
        <input type="submit" class="kd-btn kd-subscribe" value="Subscribe">
      </div>
    </form>
    <p class="subscribe-status"></p>
  </div>
</div>

<!-- End Mailchimp -->