<!-- Posts -->
<div id="wrap-posts">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<img src="images/contact.jpg" alt="Post">
					</div>
					<!-- End Media -->

					<div class="post-body">

						<!-- Title -->
						<h2 class="title">Contact Me</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>In the world of web design, we tend to become preoccupied with the here and now. In &#8220;Resilient Web Design&#8221;, Jeremy Keith emphasizes the importance of learning from the past in order to better prepare ourselves for the future. So, perhaps we should stop and think more beyond our present moment? The following is an excerpt from Jeremy&#8217;s web book.<span id="more-61"></span></p>
							<h4>Get In Touch</h4>
							<div class="wpcf7">
								<form action="#" method="post">
									<div class="row comment-form contact">
										<div class="col-md-6">
											<div class="contact-item form-name">
												<input type="text" name="your-name" value="" placeholder="Name *">
											</div>
										</div>
										<div class="col-md-6">
											<div class="contact-item form-email">
												<input type="email" name="your-email" value="" placeholder="Email *">
											</div>
										</div>
										<div class="col-md-12">
											<div class="contact-item form-url">
												<input type="text" name="your-subject" value="" placeholder="Website URL">
											</div>
											<p></p></div>
										<div class="col-md-12">
											<div class="contact-item form-url">
												<textarea name="your-message" placeholder="Your Message ..."></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="contact-item form-submit">
												<input type="submit" value="Submit">
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="post-details">
								Posted by <a href="#" class="post-author">KATY PERRY</a> on September 19, 2017
							</div>
						</div>
						<!-- End The Excerpt -->

					</div>
				</article>
				<!-- End Article -->
			</div>

			<!-- Sidebar -->
			<div class="col-md-4">
				<div class="sidebar">

					<about-me></about-me>

					<social-links></social-links>

				</div>
			</div>
			<!-- End Sidebar -->
		</div>
	</div>
</div>
<!-- End Posts -->