<!-- Posts -->
<div id="wrap-posts">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<img src="images/contact.jpg" alt="Post">
					</div>
					<!-- End Media -->

					<div class="post-body">

						<!-- Title -->
						<h2 class="title">Contact Me</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>In the world of web design, we tend to become preoccupied with the here and now. In &#8220;Resilient Web Design&#8221;, Jeremy Keith emphasizes the importance of learning from the past in order to better prepare ourselves for the future. So, perhaps we should stop and think more beyond our present moment? The following is an excerpt from Jeremy&#8217;s web book.<span id="more-61"></span></p>
							<h4>Get In Touch</h4>
							<div class="wpcf7">
								<form action="#" method="post">
									<div class="row comment-form contact">
										<div class="col-md-6">
											<div class="contact-item form-name">
												<input type="text" name="your-name" value="" placeholder="Name *">
											</div>
										</div>
										<div class="col-md-6">
											<div class="contact-item form-email">
												<input type="email" name="your-email" value="" placeholder="Email *">
											</div>
										</div>
										<div class="col-md-12">
											<div class="contact-item form-url">
												<input type="text" name="your-subject" value="" placeholder="Website URL">
											</div>
											<p></p></div>
										<div class="col-md-12">
											<div class="contact-item form-url">
												<textarea name="your-message" placeholder="Your Message ..."></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="contact-item form-submit">
												<input type="submit" value="Submit">
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="post-details">
								Posted by <a href="#" class="post-author">KATY PERRY</a> on September 19, 2017
							</div>
						</div>
						<!-- End The Excerpt -->

					</div>
				</article>
				<!-- End Article -->
			</div>

			<!-- Sidebar -->
			<div class="col-md-4">
				<div class="sidebar">

					<!-- About Me -->
					<div class="widget kd-about">
						<h2 class="widget-title">About Me</h2>
						<div class="widget-inner text-center">
							<img src="images/widgets/avatar.jpg" alt="About Me">
							<h2><strong>Katy Perry</strong></h2>
							<div class="about-info">
								Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.
							</div>
						</div>
					</div>
					<!-- End About Me -->

					<!-- Follow Me -->
					<div class="widget kd-follow text-center">
						<h2 class="widget-title">Follow Me</h2>
						<div class="widget-inner post-share">
							<a href="#" title="Behance">
								<i class="fa fa-behance"></i>
							</a>
							<a href="#" title="Dribbble">
								<i class="fa fa-dribbble"></i>
							</a>
							<a href="#" title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" title="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#" title="Linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
						</div>
					</div>
					<!-- End Follow Me -->
				</div>
			</div>
			<!-- End Sidebar -->
		</div>
	</div>
</div>
<!-- End Posts -->