<!-- Featured Slider -->
<div id="featured-slider" class="featured-slider owl-carousel text-center">
	<div class="item image" style="background-image: url(images/featured-sliders/intersectional.jpg);">
		<div class="item-inner">
			<div class="cat">
				<a href="#">Intersectional</a>
			</div>
			<h2>
				<a href="single.html">Conditions of service in this restaurant are good</a>
			</h2>
		</div>
	</div>
	<div class="item image" style="background-image: url(images/featured-sliders/genuine.jpg);">
		<div class="item-inner">
			<div class="cat">
				<a href="#">Genuine</a>
			</div>
			<h2>
				<a href="single.html">I make it a rule to get up early every morning</a>
			</h2>
		</div>
	</div>
	<div class="item image" style="background-image: url(images/featured-sliders/skilled.jpg);">
		<div class="item-inner">
			<div class="cat">
				<a href="#">Skilled</a>
			</div>
			<h2>
				<a href="single.html">Sitting all alone with only memories of the past</a>
			</h2>
		</div>
	</div>
</div>
<!-- End Featured Slider -->

<!-- Posts -->
<div id="wrap-posts" class="wrap-posts">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<a href="single.html">
							<img src="images/posts/1.jpg" alt="Post">
						</a>
					</div>
					<!-- End Media -->

					<div class="post-body">


						<!-- Category -->
						<div class="cat">
							<a href="#">Lifestyle</a>
						</div>
						<!-- End Category -->

						<!-- Title -->
						<h2 class="title">
							<a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
						</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>
								The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
								to have lunch. I'm keeping it real with you, so what you going do is have lunch. You do know, you do know that they
								don't want you to have lunch.
							</p>
						</div>
						<!-- End The Excerpt -->

						<!-- Read More -->
						<div class="read-more">
							<a href="single.html">Continue Reading</a>
						</div>
						<!-- End Read More -->
					</div>
				</article>
				<!-- End Article -->

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<a href="single.html">
							<img src="images/posts/2.jpg" alt="Post">
						</a>
					</div>
					<!-- End Media -->

					<div class="post-body">


						<!-- Category -->
						<div class="cat">
							<a href="#">Lifestyle</a>
						</div>
						<!-- End Category -->

						<!-- Title -->
						<h2 class="title">
							<a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
						</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>
								The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
								to have lunch. I'm keeping it real with you, so what you going do is have lunch. You do know, you do know that they
								don't want you to have lunch.
							</p>
						</div>
						<!-- End The Excerpt -->

						<!-- Read More -->
						<div class="read-more">
							<a href="single.html">Continue Reading</a>
						</div>
						<!-- End Read More -->
					</div>
				</article>
				<!-- End Article -->

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<a href="single.html">
							<img src="images/posts/3.jpg" alt="Post">
						</a>
					</div>
					<!-- End Media -->

					<div class="post-body">


						<!-- Category -->
						<div class="cat">
							<a href="#">Lifestyle</a>
						</div>
						<!-- End Category -->

						<!-- Title -->
						<h2 class="title">
							<a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
						</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>
								The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
								to have lunch. I'm keeping it real with you, so what you going do is have lunch. You do know, you do know that they
								don't want you to have lunch.
							</p>
						</div>
						<!-- End The Excerpt -->

						<!-- Read More -->
						<div class="read-more">
							<a href="single.html">Continue Reading</a>
						</div>
						<!-- End Read More -->
					</div>
				</article>
				<!-- End Article -->


				<!-- Pagination -->
				<div class="pagination-wrap clearfix">
					<a class="older-posts" href="#">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="#" href="#">1</a>
					<a class="active" href="#">2</a>
					<a href="#">3</a>
					<a class="newer-posts" href="#">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
				<!-- End Pagination -->
			</div>

			<!-- Sidebar -->
			<div class="col-md-4">
				<div class="sidebar">

					<about-me></about-me>

					<social-links></social-links>

					<latest-posts></latest-posts>

				</div>
			</div>
			<!-- End Sidebar -->
		</div>
	</div>
</div>
<!-- End Posts -->

<script>
	$(document).ready(function () {
		var $featuredSlider = $('.featured-slider'),
			options = $.extend({
				items: 3,
				nav: true,
				navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
				responsive: {
					0: {
						items: 1
					},
					768: {
						items: 2
					},
					992: {
						items: 3
					}
				}
			}, $featuredSlider.data());
		$featuredSlider.owlCarousel(options);
	});
</script>